{% extends "base.html" %}
{% set title = "Home" %}
{% block content %}
    <h3>
        Roblox is currently
        <span id = "status" style = "color: var(--ii-{{ status[1] }});">{{ status[0] }}</span>!
    </h3>
    <table class = "table table-striped table-dark table-borderless">
        <thead>
            <tr>
                <th scope = "col">Name</th>
                <th scope = "col">Ping</th>
                <th scope = "col">URL</th>
                <th scope = "col">Status</th>
            </tr>
        </thead>
        <tbody id = "service-list">
            {% for service in data %}
                <tr>
                    {% set color = {"up": "green", "slow": "yellow", "down": "red"}[service["guess"][0]] %}
                    <th scope = "row" style = "color: var(--ii-{{ color }});" data-rsl-id = "{{ service['id'] }}">{{ service["name"] }}</th>
                    <td>{{ service["ping"]|round(2)|int }}ms</td>
                    <td>{{ service["url"].removeprefix("https://").split("/")[0] }}</td>
                    <td>{{ service["guess"][1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block jstags %}
    <script>
        // Copyright 2022 iiPython

        // Load historical data
        function handleHistoricalData() {
            $("th[data-rsl-id]").click((e) => {
                let rsl_id = $(e.target).attr("data-rsl-id");
                $.get(`/api/historical?id=${rsl_id}`, {}, (d) => {
                    bootbox.dialog({ 
                        title: d.name,
                        message: `
                        <div><canvas id = "historical-${rsl_id}" height = "300" width = "400"></canvas></div>
                        <p class = "modal-notice">* Times in 24h UTC | Average uptime: ${d.uptime}%</p>
                        `,
                        buttons: {
                            ok: {
                                label: "Close",
                                className: "btn-primary",
                                callback: () => {}
                            }
                        }
                    });

                    // Populate our graph with its appropriate data
                    const ctx = document.getElementById(`historical-${rsl_id}`).getContext("2d");
                    const historyChart = new Chart(ctx, {
                        type: "line",
                        data: {
                            datasets: [{
                                label: "Ping",
                                data: Object.entries(d.data).map(v => { return { x: v[0], y: v[1] } } ),
                                borderColor: "rgb(159, 159, 159)"
                            }]
                        },
                        options: {
                            responsive: false,
                            maintainAspectRatio: false,
                            scales: {
                                x: { title: { display: true, text: "Time" } },
                                y: { title: { display: true, text: "Ping" } }
                            }
                        }
                    });
                })
            })
        }
        handleHistoricalData();

        // Handle autoreloading
        setInterval(() => {
            $.get("/api/status", {}, (d) => {

                // Load status information
                $("#status").text(d.status[0]);
                $("#status").css("color", `var(--ii-${d.status[1]})`);

                // Render our service data
                $("#service-list").html("");
                for (let service of d.services) {

                    // Create element
                    let row = document.createElement("tr");
                    let color = { up: "green", slow: "yellow", down: "red" }[service.guess[0]];
                    $(row).html(`
                        <th scope = "row" style = "color: var(--ii-${color});" data-rsl-id = "${service.id}">${service.name}</th>
                        <td>${Math.round(service.ping)}ms</td>
                        <td>${service.url.slice(8).split("/")[0]}</td>
                        <td>${service.guess[1]}</td>
                    `);
                    $("#service-list").append(row);
                }

                // Recalculate historical data
                handleHistoricalData();
            })
        }, 60000);  // 1m since our internal database doesn't update faster than that
    </script>
{% endblock %}
