{% extends "base.html" %}
{% set title = "Change Password" %}
{% block content %}   
    <div class = "container">
        <div class = "row justify-content-center">
            <div class = "col-3">
                <form action = "/admin/changepw" method = "POST">
                    <div class = "mb-3">
                        <label for = "inputPassword" class = "form-label">New Password</label>
                        <input type = "password" class = "form-control" id = "inputPassword" name = "password" required autofocus>
                    </div>
                    <button type = "submit" class = "btn btn-primary">Change Password</button>
                    {% if error %}<div class = "form-text text-danger">{{ error }}</div>{% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
