{% extends "base.html" %}
{% set title = "Admin" %}
{% block content %}
    <h3 style = "margin-bottom: 45px;">Hello, {{ session["admin"] }}.</h3>
    <label class = "col-form-label">RSL Alert:</label>
    <div class = "row g-3 align-items-center" style = "justify-content: center; width: 90%;">
        <div class = "col-auto">
            <input type = "text" id = "alertText" class = "form-control" placeholder = "No alert set ..." value = "{{ app.admin_alert }}">
        </div>
        <div class = "col-auto">
            <button class = "btn btn-primary" onclick = "updateRSLAlert();">Update</button>
        </div>
    </div> <br>
    <a class = "btn btn-danger" href = "/admin/logout">Logout</a> <a class = "btn btn-warning" href = "/admin/changepw">Change Password</a>
{% endblock %}
{% block jstags %}
    <script>
        function updateRSLAlert() { $.get(`/admin/postalert?alert=${$("#alertText").val()}`, {}, () => { bootbox.alert("RSL alert has been updated."); }) }
    </script>
{% endblock %}
