{% extends "base.html" %}
{% set title = "Admin Login" %}
{% block content %}
    <div class = "container">
        <div class = "row justify-content-center">
            <div class = "col-3">
                <form action = "/admin/login" method = "POST">
                    <div class = "mb-3">
                        <label for = "inputUsername" class = "form-label">RSL username</label>
                        <input type = "text" class = "form-control" id = "inputUsername" name = "username" required autofocus>
                    </div>
                    <div class = "mb-3">
                        <label for = "inputPassword" class = "form-label">Password</label>
                        <input type = "password" class = "form-control" id = "inputPassword" name = "password" required>
                    </div>
                    <button type = "submit" class = "btn btn-primary">Login to RSL</button>
                    {% if error %}<div class = "form-text text-danger">{{ error }}</div>{% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
